# Default ignore
.vscode/*
.uptodate
.published
.pkg
.idea
.cache
*.output
.drone/secrets.yml

# Project specific secrets
**/license.jwt
app

# Remove built binaries
dist

# Tag file used in drone and local env
.tag
.tags
